@charset "UTF-8";
/* CSS Document */
*{
	font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif
}
.page
{
	position:relative;
	margin:0px auto;
	padding:0px;
	color:#fff;
	overflow:hidden;
}
.nav
{
	width:100%;
	height:55px;
	background:#9201b6;
	position:fixed;
	bottom:0px;
	z-index:999;
}

.nav .nav-cotent
{
	margin:0 auto;
	position:relative;
	color:#fff;
}
.nav-cotent .logo
{
	position:absolute;
	left:15px;
	top:12px;
	height:50px;
}
.nav-cotent .logo img
{
	width:66px;
	height:29px;
}
.nav-cotent .downapp
{
	position:absolute;
	right:10px;
	top:15px;
	width:80px;
	height:28px;
	cursor:pointer;
}
.nav-cotent .downapp img
{
	width:80px;
	height:28px;
}

.cycle-box
{
	position:relative;
	height:52px;
	border-bottom:solid 1px #e0e0e0;
}
.auther-box
{
	position:absolute;
	left:10px;
	height:50px;
	min-width:130px;
	font-size:36px;
}
.auther-box .auther-header
{
	position:absolute;
	top:10px;
	left:0px;
	width:32px;
	height:32px;
	border: solid 0px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius:25px;
	overflow:hidden;
}
.auther-box .auther-header img
{
	width:32px;
	height:32px;
}
.auther-name-box
{
	margin-left:36px;
	margin-top:11px;
}
.auther-name
{  
	font-size:14px;
	color:#666666;
}
.auther-box .auther-gender
{
	width:10px;
	height:10px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
    border-radius:5px;
}
.auther-box .auther-gender img
{
	width:10px;
	height:10px;
}
.cycle-name
{
	margin-left:36px;
	font-size:12px;
	color:#c1c1c1;
}
.cycle-color
{
	color:#999999;
	font-size:12px;
}
.cycle-box .post-date
{
	position:absolute;
	right:10px;
	top:20px;
	color:#999999;
	font-size:12px;
}

.title-box
{
	width:95%;
	width:calc(100% - 40px);
	margin:15px auto 10px 10px;
	min-height:55px;
}
.title-text
{
	line-height:28px;
	font-size:20px;
	color:#333333;
}
.content
{
	width:95%;
	width:calc(100% - 20px);
	margin:0px auto;
	overflow:hidden;
}
.content-text
{
	line-height:26px;
	font-size:16px;
	color:#666666;
}
.content-text *
{
	line-height:26px;
	font-size:16px;
	color:#666666;
}
.content-text img
{
	padding-top:15px;
	padding-bottom:15px;
	width:100%;
	height:100%;
}
.content-photos
{
}
.content-all
{
	width:140px;
	height:35px;
	margin:20px auto 20px  auto;
	cursor:pointer;
	text-align:center;
	font-size:20px;
	color:#afafaf;
	line-height:35px;
	border:solid 1px #c1c1c1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.like-box
{
	position:relative;
	border-top: solid 1px #ececec;
	border-bottom:solid 1px #ececec;
	height:55px;
}

.like-icon
{
	position:absolute;
	left:12px;
	top:16px;
	width:18px;
	height:18px;
	overflow:hidden;
}
.like-icon img
{
	width:100%;
}
.like-users
{
	padding-left:45px;
	padding-top:0px;
	height:45px;
	overflow:hidden;
}
.like-users-box
{
	width:32px;
	height:32px;
	margin-top:10px;
	margin-right:5px;
	overflow:hidden;
    -moz-border-radius:16px;
    -webkit-border-radius: 16px;
    border-radius:16px;
	float:left;
}
.like-users-box img
{
	width:100%;
}
.like-count
{
	width:60px;
	line-height:40px;
	padding-top:8px;
	float:left;
	font-size:16px;
	color:#999;
}
.comment-title
{
	height:40px;
	line-height:43px;
	width:95%;
	width:calc(100% - 20px);
	margin:0 auto;
	font-size:20px;
	color:#666;	
}
.comment-split
{
	height:4px;
	background:#f6f6f6;
}
.comment-box
{
	width:90%;
	width:calc(100% - 20px);
	margin:0 auto;
	border-bottom:solid 1px #ececec;
}
.comment-auther-box
{
	position:relative;	
}
.comment-auther-box .auther-header
{
	position:absolute;
	top:10px;
	width:40px;
	height:40px;
    -moz-border-radius: 40px; 
    -webkit-border-radius: 40px;   
    border-radius:40px;
	border: 0px solid #ccc;
	overflow:hidden;      
}
.comment-auther-box .auther-header img
{
	width:100%;
	height:100%;
}

.comment-auther-box .auther-name
{
	margin-left:45px;
	padding-top:10px;
	font-size:14px;
	color:#999;
}
.auther-sp-name
{
	font-size:14px;
	color:#333;
}
.auther-sp-gender
{
	width:13px;
	height:13px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
    border-radius:5px;
}
.auther-sp-gender img
{
	width:13px;
	width:13px;
}
.auther-sp-grade
{
	display:none;
	padding-left:8px;
	padding-right:10px;
	background:#F93;
	font-size:12px;
	color:#fff;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
    border-radius:5px;	
}

.comment-auther-box .comment-date
{
	margin-left:45px;
	padding-top:2px;
	font-size:10px;
	color:#999;
}
.comment-sp-floor
{
	font-size:12px;
}
.comment-sp-icon
{
	padding-left:10px;
	position:relative;
	width:13px;
	height:13px;
}
.comment-sp-icon img
{
	position:absolute;
	top:2px;
	width:13px;
	height:13px;
}
.comment-sp-date
{
	font-size:12px;
	padding-left:17px;
}
.comment-like 
{
	position:absolute;
	height:20px;
	right:10px;
	top:15px;
}
.like-sp-icon
{
	display:inline-block;
	width:13px;
	height:13px;
	right:20px;
	top:1px;
	position:absolute;
	
}
.like-sp-icon img
{
	width:13px;
	height:13px;
}

.like-sp-count
{
	color:#C160D7;
	font-size:13px;
	padding-left:3px;
}

.comment-content-box
{
	width:90%;
	width:calc(100% - 60px);
	margin-left:45px;
	margin-top:7px;
	margin-bottom:12px;
}
.comment-text
{
	font-size:16px;
	line-height:22px;
	color:#999;
}
.comment-reply
{
	margin-top:10px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;   
    border-radius:10px;
	padding-bottom:10px;
	background:#ececec;
}

.reply-auther-box
{
	position:relative;
}

.reply-auther-box .reply-header
{
	position:absolute;
	left:2px;
	top:5px;
	width:30px;
	height:30px;
    -moz-border-radius: 25px; 
    -webkit-border-radius: 25px;   
    border-radius:25px;
	overflow:hidden;      
}
.reply-auther-box .reply-header img
{
	width:30px;
	height:30px;
}
.reply-auther-box .reply-name
{
	margin-left:35px;
	padding-top:10px;
	color:#999;
}
.reply-sp-name
{
	font-size:14px;
	color:#666;
}
.reply-sp-gender
{
	width:12px;
	height:12px;
	margin-left:3px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;   
    border-radius:5px;
}
.reply-sp-gender img
{
	width:12px;
	height:12px;
}
.reply-date
{
	position:absolute;
	right:0px;
	top:15px;	
}
.reply-sp-icon
{
	width:12px;
	height:12px;
}
.reply-sp-icon img
{
	width:12px;
	height:12px;
}
.reply-sp-date
{
	font-size:12px;
	color:#999;
}
.reply-sp-floor
{
	font-size:12px;
	color:#999;
}
.reply-text
{	
	width:95%;
	width:calc(100% - 50px);
	margin-left:25px;
	margin-top:10px;
	font-size:14px;
	color:#999;
	line-height:20px;
}
.comment-all
{
	height:48px;
	border-bottom:solid 1px #ececec;
	color:#0d80fd;
	text-align:center;
	font-size:18px;
	line-height:48px;
	cursor: pointer;
}
.divfooter
{
	width:210px;
	height:68px;
	margin: 0 auto;
	position:relative;
	margin-top:10px;
	margin-bottom:50px;
}
.appicon
{
	width:75px;
	height:50px;
	float:left
}
.appicon img
{
	float:right;
	width:50px;
	width:50px;
}
.appinfo
{
	width:130px;
	float:right
}
.appname
{
	font-size:18px;
	color:#000;
}
.appremark
{
	margin-top:1px;
	font-size:12px;
	line-height:14px;
	color:#999;
}